<div class="dropdown">
    <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">เวลาทำการ</div>
    <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
      <li><a>10:00 - 12:00 AM </a></li>
      <li><a>12:00 - 14:00 PM </a></li>
      <li><a>15:00 - 17:00 PM </a></li>
      <li><a>17:00 - 19:00 PM </a></li>
      <li><a>19:00 - 21:00 PM </a></li>
      <li><a>21:00 - 23:00 PM </a></li>
    </ul>
  </div>