<app-header-user></app-header-user>

<div class="container mx-auto px-4 py-10 mt-16">
  <h2 class="text-2xl font-bold text-white text-center mb-4 bg-gray-900 py-3 rounded">📢 ประกาศสถานะการใช้งาน</h2>
  <p class="text-sm text-gray-300 text-center mb-8">📅 อัปเดตล่าสุด: <span id="updateTime" class="font-semibold text-white"></span></p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let fac of facilities" class="card bg-gray-900 rounded-lg shadow-lg overflow-hidden text-white">
      <div class="p-5">
        <h3 class="text-xl font-bold mb-2">{{ fac.fac_Name }}</h3>
        <img [src]="fac.fac_img" [alt]="fac.fac_Name" class="rounded-xl mb-3 w-full">
        <ul class="space-y-2">
          <p class="text-sm text-green-300 mt-1">Status: {{ fac.fac_Status }}</p>
        </ul>
      </div>
    </div>
  </div>
  
</div>

